
<mat-card-header >
    <h1>WOW - I have a new flower!</h1>
  </mat-card-header>
  
  <form #appointmentForm="ngForm" (ngSubmit)="addAppointment()">
        <div class="card1">
          <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <form #appointmentForm="ngForm" (ngSubmit)="addAppointment()">
                  <div class="card1">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <!-- <div mat-card-avatar class="example-header-image"></div> -->
                          <mat-card-title>Which kind of flower is it?</mat-card-title>
                          <span class="material-icons">
                            spa
                            </span>
                        </mat-card-header>
                        <mat-card-content>
                          <mat-select [(value)]="flowerkind">
                            <mat-option value="Garden flower">Garden flower</mat-option>
                            <mat-option value="Mountain flower">Mountain flower</mat-option>
                            <mat-option value="Rare flower">Rare flower</mat-option>
                            <mat-option value="Dont really know">Dont really know</mat-option>
                          </mat-select>
                        </mat-card-content>
                      </mat-card>
                  </div>

        <div class = "card2">
          <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Tell us what you know about it <span class="material-icons">
                  lightbulb
                  </span> </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div class="find_doctor">
                      <mat-form-field appearance="outline">
                          <mat-label>Type a short info</mat-label>
                          <input 
                          [(ngModel)]= "flowerinfo"
                          name = "flowerinfo"
                          type = "text" matInput placeholder="Type of treatment">
                        </mat-form-field>
                  </div>
              </mat-card-content>
            </mat-card>
        </div>
  
        <div class="card3">
          <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>When and where did you found it?</mat-card-title>
                <mat-icon  aria-label="Example location_on icon">location_on</mat-icon>
              </mat-card-header>
              <mat-card-content>
                  <div>
                      <mat-form-field matTooltip="when did you MM/DD/YYYY" 
                      [matTooltipPosition]="position.value"
                      matTooltipHideDelay="3000"
                      aria-label appearance="outline">
                          <mat-label>Choose date</mat-label>
                          <input
                          [(ngModel)]= "date"
                          name = "date"
                          type = "date" matInput placeholder="Choose date">
                      </mat-form-field>
                  </div>
                 
                
                <div class="find_doctor">
                  <mat-form-field appearance="outline">
                      <mat-label>City</mat-label>
                      <input 
                      [(ngModel)]= "city"
                      name = "city"
                      type = "text" matInput placeholder="City">
                    </mat-form-field>
              </div>
              </mat-card-content>
            </mat-card>
        </div>
       
  <br>
          <div class = "SearchBtn">
              <button mat-raised-button [routerLink]="'/list'" color = 'primary' (click) ='addAppointment()'>Create a request</button>
          </div>
          <div class = "CancelBtn">
            <button mat-raised-button [routerLink]="'/welcome'">Cancel</button>
          </div>
          
  </form>
  <div>
    <img src="https://flowers.tn/wp-content/uploads/2018/07/Weddings-Flower-Arrangements-What39s-In-Season-Fall-Wedding-Flowers-Borrowed-Bleu.jpg" style="position: relative; left: 40px; bottom: 15px; height: 80%;">
  </div>
  

  