<mat-error><p *ngIf = "isError">{{errorMessage}}</p></mat-error>
<mat-card>
   
    <div class="login-triangle"></div>
  
    <h2 class="login-header">Log in</h2>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" class="login-container">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type = "email" matInput placeholder = "example:you@you.com" [(ngModel)] = email name = email required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput [(ngModel)] = password name = password type = password required>
            </mat-form-field>
        </div>

        <div>
            <button [disabled] = "!loginForm.form.valid" type = "submit" id="button" class="button button2">Login</button>
        </div>
        
    </form>
    
</mat-card>
