<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" *ngIf = "(authService.user | async)?.uid">
      <br>
      <h2 class="welcomeText">Hello!</h2>
      <b><p class="name" style="color: rgb(228, 19, 165);"> {{useremail}}</p></b>
      <hr>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = "/wellcome" *ngIf = "(authService.getUser() | async)" >Wellcome</a>
      <a mat-list-item routerLink="/fileupload" *ngIf = "(authService.getUser() | async)">Find my flowers</a>
      <a mat-list-item routerLink="/application" *ngIf = "(authService.getUser() | async)">Request a new flower</a>
      <a mat-list-item routerLink="/list" *ngIf = "(authService.getUser() | async)">List of requests</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon>filter_vintage</mat-icon> Flowers</span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser() | async)">Signup <span class="material-icons">
        app_registration
        </span></a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser() | async)"> | Login <span class="material-icons">login</span></a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser() | async)">Logout <span class="material-icons">logout</span></a>

    </mat-toolbar>
    
    <div  *ngIf = "!(authService.getUser() | async)"><h2>please log in to enjoy our wonderful service!!</h2>
      
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


