<mat-card>
    <h1>Update Book</h1>
    <form #bookForm="ngForm" >


      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>years</mat-label>
              <input matInput 
                [(ngModel)] = "nyears"
                name = "nyears"
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary" 
            (click)= "updateParent()">
            Update
          </button>
          <button mat-raised-button  
          (click)= "tellParentToClose()">
          Cancel
        </button> 
  
        </div>
      </div>
    </form>
</mat-card>
