<div *ngIf="!doctor">
  <div class="docform">

    <div class="picture">
      <img src="../assets/reko.jfif" width="400px" height="250px">
    </div>
    
    <div class="main">
      <h1><b>Please upload picture of a Flower</b></h1>
      <input hidden #fileinput (change)="onFileUpload($event)" mat-flat-button color="primary" placeholder="Upload File" type="file" />
      <button  (click)="fileinput.click()" class="myButton" mat-flat-button color="primary" >Upload File</button>
      <p class="errorMsg" *ngIf="errorMsg"><b>Please Select A File</b></p>
      <mat-progress-bar  mode="buffer" color ='accent' ></mat-progress-bar>
      
    </div>
  
  </div>
</div>

<div *ngIf="doctor">

  <div *ngIf="doctor.similarity">

    <div class="resData">
      
      <div class="pictureSucess">
        <img src="../assets/resultDoc.jpg">
      </div>
      

      <h3 class = "simires"><b>Similarity Result</b> </h3>
      <p> <b>Name:</b> {{doctor.user_name}} <br><b>Similarity
          Percent:</b> <b style= "color:green" > {{doctor.similarity}} </b> <b style= "color:green">%</b> <br> <b>Specialization:</b>{{doctor.specialization}} <br>
        <b>Location:</b>
        {{doctor.Location}} <br> <b>Seniority:</b> {{doctor.seniority}} </p>
    </div>

  </div>

  <div class="main" *ngIf="!doctor.similarity">
  <div style="margin-left: 300px; margin-top: 10px;  color: rgb(228, 19, 71);" >
    <h1><b>results:</b></h1>
    
    <img src="{{fileUrl}}" id="myImg"  width="300" height="200" >

    <h1>flower name: <b>{{flowername}}</b></h1>
    <h1>confidence:<b>{{confidence | number:'1.0-2'}}</b></h1>
  </div>   
  <div style="margin-left: 300px; margin-top: 3px; color: rgb(109, 99, 250);"><h1>Other options: <b>{{flower2}}</b>  or <b>{{flower3}}</b></h1> </div>
  <button  class="refreshbtn" (click)="refresh()" mat-flat-button color="primary" style="margin-left: 280px;">
    Find Another Flower <span class="material-icons">
      image_search</span></button>

<!-- <mat-card class="example-card" *ngIf="!doctor.similarity">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <img class="imgcss1" mat-card-image src="{{fileUrl}}" style="height: 250px; width: 250px; margin-left: 300px; margin-top: 50px;">
  <mat-card-content>
  
      <h1 style="margin-left: 300px; margin-top: 50px">name: {{flowername}}</h1>
      <h1 style="margin-left: 300px; margin-top: 50px">confidence: {{confidence}}</h1>
    
  </mat-card-content>
  <mat-card-actions>
    <button class="refreshbtn" (click)="refresh()" mat-flat-button color="primary" style="margin-left: 280px;">Try again</button>
  </mat-card-actions>
</mat-card> -->