.docform{
    display: inline-block;
    margin-left:30%;
  margin-top: 0%;
  }
  
.refreshbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


.main {
  display: inline-block;
  vertical-align: top;
  margin-top:6%;
  text-align: center;
  margin-left:70px;
}
.noRes{
  margin-top:60 px;
}
.red{
  margin-top: 3%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: red;
}
.errorMsg{
  color: red;
}
.simires{
  margin-top: 1%;
  color: blue;
}
.noRestxt{
  margin-top: 2%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.refreshbtn{
  margin-top: 2%;
  margin-left: 45%;
}
.resData{
  margin-top: 4%;
  margin-left: 40%;
}
.picture{
  display: inline-block;
  align-self: center;
}
.pictureSucess{
  display: inline-block;
}
.pictureUnSucess{
  margin-left: 28%;
}


.mat-form-field {
  margin: 40px 0;
  width: 500px !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  content: 'Select some files';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  
}
.main{
    text-align: center;
        margin-top: 50px;
}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #00BCD4 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #00BCD4;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #00BCD4;
    margin: 10px auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
p {
  color: red;
 }


#myImg {
  border-radius: 15px;

  
}


