.example-card {
    max-width: 400px;
  }
  
  #card1{
      float: right;
      width: 300px;
      height: 460px;
      margin-right: 35px;
  }

  #card2{
      float: right;
      width: 300px;
      height: 460px;
      margin-right: 35px;
  }
  #card3{
    float: right;
    width: 300px;
    height: 460px;
    margin-right: 35px;
}
  .btn{
      color: blue;
  }

.imgcss1{
    height: 250px;
}
.imgcss2{
    height: 250px;
}
.imgcss3{
    height: 250px;
    
}