<mat-card-header>
  <h1>Wellcome to the flower recognitor site!</h1>
</mat-card-header>
<br>

<mat-card class="example-card" id="card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss1" mat-card-image src="https://cdn.shopify.com/s/files/1/1463/4010/t/2/assets/masonry-feature-1-image.jpg?v=6292719477897739107" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The sending of flowers online is more popular now than ever. 
        The convenience from ordering right from your desk and the
        option for same day delivery have made ordering flowers online a common practice
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss2" mat-card-image src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/dahlia-3598551_1920.jpg?itok=XZfJlur2" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
        Grow dahlias for gorgeous, colorful flowers that bloom 
        from midsummer through autumn, when many plants are past their best! 
        </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="card3"> 
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss3" mat-card-image src="https://media.self.com/photos/5ea9f52ea469834e6f5489e6/4:3/w_1600%2Cc_limit/peony_flowers_bouquet.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        When it comes to deciding what to gift someone on Mother’s Day, one of the simplest and most impactful things (and also the most traditional) is a vibrant bouquet of flowers</p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>