<p></p>
<div style="height: 100%;">
 

<br>

<table mat-table [dataSource]="flowers" class="mat-elevation-z8" style="width: 70%; margin-left: 100px">

  <ng-container matColumnDef="flowerinfo">
    <th mat-header-cell *matHeaderCellDef> About the Flower </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.flowerinfo}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="flowerkind">
    <th mat-header-cell *matHeaderCellDef> Kind </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.flowerkind}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Request Date </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.date}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City Requested </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.city}}</span>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <!-- Delete Column -->
  <!-- <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button class="delButton" (click)="deletePatient(element.name.S,i)">
        Delete
      </button>
    </td>
  </ng-container>

  


<table>
  <tr>
    <th>Flower type</th>
    <th>Flower info</th>
    <th>Date</th>
    <th>City</th>
  </tr>
  <tr>
    <td>Garden flower</td>
    <td>green and big</td>
    <td>20/08/20</td>
    <td>tel aviv</td>
  </tr>
  <tr>
    <td>Mountain flower</td>
    <td>white and blue, small leaves</td>
    <td>18/03/21</td>
    <td>hedera</td>
  </tr>
  <tr>
    <td>Rare Flower</td>
    <td>big red-yellow</td>
    <td>01/05/21</td>
    <td>jerusalem</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>all green and very small</td>
    <td>03/02/20</td>
    <td>rishom letzion</td>
  </tr>
  <tr>
    <td>Mountain flower</td>
    <td>small leaves</td>
    <td>20/08/21</td>
    <td>herzelia</td>
  </tr>
  <tr>
    <td>Dont really know</td>
    <td>orange</td>
    <td>17/01/20</td>
    <td>tel aviv</td>
  </tr>
</table> -->